*{
    box-sizing: border-box;
}
nav{
    position: sticky;
    top: 0;
    max-height: 100svh;
    background-color: #144248;
}
.nav-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.2rem;
}
.nav-list .active{
    background-color: #EEEEEE ;
    color: #144248 !important;
    position: relative;
    border-radius: 100vw 0 0 100vw;
}
.nav-list a{
    border-radius: 100vw 0 0 100vw;
}
